<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yalantis.com.sidemenu.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/alpick_icon"
        android:label=""
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".No"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".TestActivity" />
        <activity android:name=".ThemeActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".DicActivity" />
        <activity android:name=".MypageActivity" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="Alpick" />
        <activity android:name=".SignupActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".legacy.AwesomeActivity"
            android:theme="@style/app_legacy_theme" />
        <activity android:name=".TestStartActivity" />
        <activity android:name=".TestResultActivity" />
        <activity android:name=".legacy.soju" />
        <activity android:name=".legacy.beer" />
        <activity android:name=".legacy.wine" />
        <activity android:name=".legacy.cognac" />
        <activity android:name=".ThemeNextActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GradeSojuActivity" />
        <activity android:name=".GradeBeerActivity" />
        <activity android:name=".GradeWineActivity"></activity>
    </application>

</manifest>